<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8"/>
    <title>Библиотека</title>
    <link href="../../static/style.css" rel="stylesheet" th:href="@{/style.css}"/>
</head>
<body>
<h3>Автор:</h3>

<form action="edit.html" th:method="post" th:action="@{edit}" th:object="${author}">
    <input name="id" type="hidden" th:value="*{id}"/>
    <div class="row">
        <label for="name">Наименование</label>
        <input id="name" name="name" type="text" value="Наименование" th:value="*{name}"/>
    </div>
    <button type="submit">Сохранить</button>
    <a href="list.html" th:href="@{/author}"><button type="button">Отмена</button></a>
</form>

</body>
</html>