<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8"/>
    <title>Библиотека</title>
    <link href="../../static/style.css" rel="stylesheet" th:href="@{/style.css}"/>
</head>
<body>
<h3><a href="../index.html" th:href="@{/}">На главную</a></h3>
<h2>Авторы</h2>
<a href="edit.html" th:href="@{/author/add}"><button>Добавить</button></a><br/><br/>

<table>
    <thead>
    <tr>
        <th>Наименование</th>
        <th>Действия</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="author : ${authors}">
        <td th:text="${author.name}">Автор</td>
        <td>
            <a href="edit.html" th:href="@{/author/edit(id=${author.id})}"><button>Править</button></a>
            <a href="#" th:href="@{/author/delete(id=${author.id})}"><button>Удалить</button></a>
        </td>
    </tr>
    </tbody>
</table>

</body>
</html>